[Desktop Entry]
Comment=Use MSOffice in VirtualBox Windows guest to open documents.
Comment[zh_CN]=使用虚拟机内 MSOffice 编写文档
Exec=/usr/bin/winboxopen -f %f
GenericName=WinBox MSOffice
GenericName[zh_CN]=虚拟机 Office
MimeType=application/msword;application/msword-template;application/rtf;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.openxmlformats-officedocument.presentationml.template;
Name=WinBox MSOffice
Name[zh_CN]=虚拟机 Office
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;
Icon=applications-office
